# PostgreSQL
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=cytoml_db
POSTGRES_USER=cytoml_user
POSTGRES_PASSWORD=cytoml_pass

# Django
SECRET_KEY=django-insecure-3m$t=1x&c5@#i7o#08e_dbk#g(&s5n6o4p^!1pzhmswhqd(_@@       # Exemplo de chave
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
