asgiref==3.10.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
Django==5.2.8
django-cors-headers==4.9.0
djangorestframework==3.16.1
filelock==3.29.1
fsspec==2026.4.0
idna==3.11
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.4.6
opencv-python-headless==4.13.0.92
packaging==26.2
pillow==12.0.0
gunicorn==23.0.0
python-dotenv==1.2.1
PyYAML==6.0.3
requests==2.32.5
scipy==1.17.1
setuptools==81.0.0
sqlparse==0.5.3
onnxruntime==1.22.0
urllib3==2.6.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.2
